PORT=
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
JWT_SECRET=

DATABASE_URL=
AI_API_URL= 
BREVO_API_KEY=

EMAIL_USER=
EMAIL_PASS=
CLIENT_URL=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=7
CLOUDINARY_API_SECRET=